<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 5.3//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:sqlite:C:/adatok/feladat.db</property>
        <property name="dialect">org.sqlite.hibernate.dialect.SQLiteDialect</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <mapping class="com.example.project.utazasdb.Helyseg"/>
        <mapping class="com.example.project.utazasdb.Szalloda"/>
        <mapping class="com.example.project.utazasdb.Tavasz"/>
    </session-factory>
</hibernate-configuration>